.sb-cover {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    background-color: #f4f4f4;
    width: 240px; /* Initial width of the sidebar */
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .resizer {
    width: 5px;
    background-color: #ddd;
    cursor: ew-resize;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .header {
    padding: 16px;
    background-color: #ddd;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
  }
  
  .rs-content {
    flex-grow: 1;
    padding: 16px;
  }
  